<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Librería</title>
    <link rel="icon" href="/libro.ico" type="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!--revisar esto libreria de iconos fafa-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #contenidocentral {
            margin-top: 70px;
        }

        .navbar {
            background-color: #046E8F;
        }

        .nav-item,
        .navbar-brand {
            color: white;
        }

        .card-header {
            background-color: #046E8F;
            color: white;
            font-weight: bold;
        }

        #btnsubmitcompra {
            background-color: #046E8F;
            color: white;

            margin-top: 30px;
        }

        .btn-xlarge {
            padding: 18px 28px;
            font-size: 40px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            border: groove #046E8F 3px;
        }

        .card {
            background-color: #FDFCEF;
        }

        #unidadcatalogo {
            margin-bottom: 25px;
            border: groove #046E8F 10px;
        }

        #buttoncarrito {
            margin-top: 50px;
        }

        #cardinfocompra {
            background-color: #69A8BC;
        }

        #alertaErrorCompra {
            color: red;
        }
    </style>

</head>

<body>

    <!-- -------------------------NAV BAR-------------- -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/usuario/logout">Librería</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                <a class="nav-item nav-link fa fa-book" href="/libro/catalogo"> Libros</a>
                <a class="nav-item nav-link fa fa-shopping-cart " href="/libro/carrito"> Carrito</a>
                <a class="nav-item nav-link fa fa-list-alt" href="/factura/facturas"> Facturas</a>

            </div>
        </div>
    </nav>
    <!-- ---------------------------------------------- -->

    <div class="row" id="contenidocentral">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <!-- --------------------------------------------------------------------------- -->

            <% const existeCarrito=typeof carrito !== "undefined"; %>
            <% if(existeCarrito){ %>
            <% carrito.forEach((libro)=>{ %>

            <div class="card" id="unidadcatalogo">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <table>
                                <tbody id="tablaLibros">
                                    <tr>
                                        <td><strong>ISBN:</strong></td>
                                        <td><%= libro.isbn %><br></td>
                                    </tr>
                                    <tr>
                                        <td><strong>TÍTULO:</strong></td>
                                        <td><%= libro.titulo %><br></td>
                                    </tr>
                                    <tr>
                                        <td><strong>AUTOR:</strong></td>
                                        <td><%= libro.autor %> <br></td>
                                    </tr>
                                    <tr>
                                        <td><strong>CATEGORÍAS:</strong></td>
                                        <td>
                                            <% categoriasPorLibro.forEach((cat)=>{ %>
                                            <% if(cat.id==libro.id){ %>
                                            <%= cat.nombre %>
                                            <% } %>
                                            <% }); %> <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>EDICIÓN:</strong></td>
                                        <td><%= libro.edicion %><br></td>
                                    </tr>
                                    <tr>
                                        <td><strong>EDITORIAL:</strong></td>
                                        <td><%= libro.editorial %><br></td>
                                    </tr>
                                    <tr>
                                        <td><strong>PRECIO:</strong></td>
                                        <td><%= libro.precio %></td>
                                    </tr>
                                    <tr>
                                        <td><strong>CANTIDAD:</strong></td>
                                        <td><%= libro.cantidad %></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-lg-4 text-center">
                            <form action="/libro/quitarcarrito" method="POST">

                                <div id="buttoncarrito">
                                    <input type="hidden" name="idLibro" value="<%= libro.id %>">
                                    <button type="submit" class="btn btn-info btn-xlarge fa fa-trash-o"></button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
                <!-- <div class="card-footer text-muted">
              2 days ago
            </div> -->
            </div>

            <% }); %>
            <% } %>




        </div>

        <div class="col-lg-3">

            <div class="card">
                <div class="card-header text-center">
                    Información de la compra
                </div>
                <!-- El card que contiene la informacion de la compra -->
                <div id="cardinfocompra" class="card-body">
                    <form action="/libro/comprar" method="POST">
                        <label for="idtotal">Total a pagar:</label>
                        <input readonly class="form-control" id="idtotal" type="text" name="montoTotal"
                            value="<%= total %>"> <br>
                        <label for="idformapago">Forma de pago:</label>
                        <input readonly class="form-control" id="idformapago" type="text" name="formaPago"
                            value="Debito"> <br>
                        <label for="idnotarjeta">N° Tarjeta:</label>
                        <input maxlength="16" minlength="16" class="form-control" id="idnotarjeta" type="text"
                            name="numeroTarjeta" pattern="^[0-9]*$" required data-toggle="tooltip"
                            title="El No de Tarjeta debe tener 16 caracteres numéricos"> <br>
                        <label for="idcvctarjeta">CVC Tarjeta:</label>
                        <input maxlength="3" minlength="3" class="form-control" id="idcvctarjeta" type="text" name="cvc"
                            pattern="^[0-9]*$" required data-toggle="tooltip"
                            title="El CVC debe tener 3 caracteres numéricos"> <br>
                        <label for="idfechacadtarjeta">Fecha Caducidad Tarjeta:</label>
                        <input class="form-control" id="idfechacadtarjeta" type="date" name="fechaCaducidadTarjeta"
                            required>

                        <div class="text-center">
                            <% if (Number(total)==0){ %>
                            <button disabled type="submit" id="btnsubmitcompra" class="btn btn-lg fa fa-check">
                                Comprar</button>
                            <% }else{ %>
                            <button type="submit" id="btnsubmitcompra" class="btn btn-lg fa fa-check">
                                Comprar</button>
                            <% } %>
                        </div>

                        <% const existeMensaje=typeof mensaje !== "undefined"; %>
                        <% if(existeMensaje){ %>
                        <label id="alertaErrorCompra">¡Atención!: <%=mensaje%></label>
                        <% } %>

                    </form>

                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</body>

</html>