<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!--revisar esto libreria de iconos fafa-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #contenidocentral {
            margin-top: 70px;
        }

        .navbar {
            background-color: #046E8F;

        }

        .nav-item,
        .navbar-brand {
            color: white;
        }



        #triangulo {
            width: 0;
            height: 0;
            border-top: 25px solid white;
            border-right: 50px solid blue;

            border-bottom: 25px solid white;

        }


        .triangle-left {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-right: 50px solid #555;
            border-bottom: 25px solid transparent;
            cursor: pointer;
            margin-right: 20px;
        }

        .triangle-right {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-left: 50px solid #555;
            border-bottom: 25px solid transparent;
            cursor: pointer;
            margin-left: 20px;
        }

        #unidadcatalogo {
            margin-top: 25px;
            border: groove #046E8F 10px;
        }


        .count {
            background-color: white;
            font-size: 20px;
            max-width: 20%;
        }

        #buttoncarrito {
            margin-top: 20px;
            margin-left: -30px;

        }


        .btn-xlarge {
            padding: 18px 28px;
            font-size: 22px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            border: groove white 2px;
        }

        .fa-cart-plus {
            padding: 18px 28px;
            font-size: 30px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .card {
            background-color: #69A8BC;
        }


        #btnlupa {
            background-color: #046E8F;
            color: white;
        }

        #spinnercantidad {
            margin-top: 20px;
        }
    </style>

</head>

<body>
    <!-- -------------------------NAV BAR-------------- -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/usuario/logout">Librería</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                <a class="nav-item nav-link fa fa-book" href="/libro/catalogo"> Libros</a>
                <a class="nav-item nav-link fa fa-shopping-cart" href="/libro/carrito"> Carrito</a>
                <a class="nav-item nav-link fa fa-list-alt" href="/factura/facturas"> Facturas</a>

            </div>
        </div>
    </nav>
    <!-- ---------------------------------------------- -->


    <div class="row" id="contenidocentral">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <!------------------- BARRA DE BUSQUEDA------------------ -->
            <form action="">
                <div class="row">
                    <div class="col-sm-1">
                        <button id="btnlupa" class="btn" type="submit"><i class="fa fa-search"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="dropdown col-sm-6">
                        <input style="margin-right: 10px" class="form-control" id="stringbuscar" type="text"
                            placeholder="Buscar.." name="stringbuscar">
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" id="banderabuscar" name="banderabuscar">
                            <option>Seleccione una opción</option>
                            <option value="0">Autor</option>
                            <option value="1">Título</option>
                            <option value="2">Categoría</option>

                        </select>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">


            <% const existenLibros=typeof libros !== "undefined"; %>
            <% if(existenLibros){ %>
            <% libros.forEach((libro)=>{ %>
            <% if(libro.estado=="Disponible"){ %>
            <div class="card" id="unidadcatalogo">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                <strong>ISBN:</strong> <%= libro.isbn %><br>
                                <strong>TÍTULO:</strong> <%= libro.titulo %><br>
                                <strong>AUTOR:</strong> <%= libro.autor %><br>
                                <strong>CATEGORÍAS:</strong>
                                <% categoriasPorLibro.forEach((cat)=>{ %>
                                <% if(cat.id==libro.id){ %>
                                <%= cat.nombre %>
                                <% } %>
                                <% }); %> <br>
                                <strong>EDICIÓN:</strong> <%= libro.edicion %><br>
                                <strong>EDITORIAL:</strong> <%= libro.editorial %><br>
                                <strong>PRECIO:</strong> <%= libro.precio %>
                            </p>

                        </div>
                        <div class="col-lg-4 text-center">
                            <form action="/libro/agregarcarrito" method="POST">
                                <div id="spinnercantidad" class="row text-center">
                                    <div onclick="cambiarCantidad('<%=libro.id%>','-')" class="triangle-left minus">
                                    </div>
                                    <input id="inputcl<%=libro.id%>" type="number" class="count text-center"
                                        name="cantidad" value="1">
                                    <div onclick="cambiarCantidad('<%=libro.id%>','+')" class="triangle-right plus">
                                    </div>
                                </div>
                                <div id="buttoncarrito">
                                    <input type="hidden" name="idLibro" value="<%= libro.id %>">
                                    <button type="submit" class="btn btn-info btn-xlarge fa fa-cart-plus"></button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <!-- <div class="card-footer text-muted">
                          2 days ago
                        </div> -->
            </div>
            <% }%>
            <% }); %>
            <% } %>
        </div>



    </div>


    <div id="alaverga">

    </div>


    <script>
        //$('.count').prop('disabled', true);

        function cambiarCantidad(idLibro, operacion) {
            inputCantidad = document.getElementById('inputcl' + idLibro)
            //inputCantidad.disabled=true;


            const htmlaux = `
            <% libros.forEach((libro)=>{ %>
                <p><%=libro.id%></p>
            <%});%>
            `
            //const parrafo = document.createElement("div");
            const aux = document.getElementById("alaverga");
            //parrafo.innerHTML = htmlaux;
            aux.innerHTML = htmlaux;

            //aniadirEtiqueta("alaverga", parrafo);

            if (operacion == '+') {
                inputCantidad.value = Number(inputCantidad.value) + 1;
            } else {
                inputCantidad.value = Number(inputCantidad.value) - 1;
            }
        }




        function aniadirEtiqueta(idEtiqueta, elementoHTML) {
            const etiqueta = document.getElementById(idEtiqueta);
            etiqueta.appendChild(elementoHTML);
        }
    </script>


</body>

</html>