<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!--revisar esto libreria de iconos fafa-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #contenidotabla {
            margin-top: 100px;
        }

        #barranavegacion {
            background-color: #046E8F;

        }

        #inputsEditar {
            max-width: 100%;
        }



        table {
            width: 100%;
            table-layout: fixed;
        }

        th {
            background-color: #046E8F;
            color: white;
        }

        #panel_head {
            background-color: #faf2f2;
        }

        button {
            background-color: #046E8F;
            color: white;
        }

        th,
        td {
            text-align: center;
        }

        #contenido_nav {
            color: white;
            font-weight: bold;
        }

        .btn {
            color: white;
        }

        #btn_close_modal {
            color: black;
        }






        /* para los checkboxes en el select */

        .multiselect {
            width: 200px;
        }

        .selectBox {
            position: relative;
        }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #checkboxes {
            display: none;
            border: 1px #dadada solid;
        }

        #checkboxes label {
            display: block;
        }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

        /***************************/


        .modal-dialog {
            max-width: 350px;
        }

        .navbar-brand,
        .nav-item {
            color: white;
        }
        
    </style>
</head>

<body>

    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="barranavegacion">
            <div id="contenido_nav" class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/usuario/logout">LIBRERÍA</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- class="active" -->
                    <li><a class="fa fa-book nav-item" aria-hidden="true" href="/libro/principal"> LIBROS</a></li>
                    <!-- <li><a href="/api/instrumento/promocion">Promoción</a></li> -->

                </ul>
            </div>
        </nav>

    </div>

    <div class="row" id="contenidotabla">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 container">
            <div class="panel panel-default">
                <div id="panel_head" class="panel-heading text-center">
                    <button data-toggle="modal" data-target="#myModal" class="btn center-block"><i
                            class="fa fa-plus-circle"></i>
                        Agregar</button>

                </div>
                <div class="panel-body">
                    <div style="margin-left: 15px">

                        <form action="/libro/principal">
                            <div class="col-sm-1">
                                <button class="btn" type="submit"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                            <div class="dropdown col-sm-6">
                                <input style="margin-right: 10px" class="form-control" id="stringbuscar" type="text"
                                    placeholder="Buscar.." name="stringbuscar">
                            </div>
                            <div class="col-sm-5">

                                <div class="form-group">
                                    <!-- (change)="selectParametro($event)"" -->

                                    <select class="form-control" id="banderabuscar" name="banderabuscar">
                                        <option>Seleccione una opción</option>
                                        <option value="0">Autor</option>
                                        <option value="1">Título</option>
                                        <option value="2">Categoría</option>

                                    </select>
                                </div>
                            </div>
                        </form>




                    </div>

                    <table class="table" id="tablainstrumentos">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Edición</th>
                                <th>Editorial</th>
                                <th>Categorías</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% const existenLibros=typeof libros !== "undefined"; %>
                            <% if(existenLibros){ %>
                            <% libros.forEach((libro)=>{ %>
                            <tr>
                                <td><%= libro.isbn %></td>
                                <td><%= libro.titulo %></td>
                                <td><%= libro.autor %></td>
                                <td><%= libro.edicion %></td>
                                <td><%= libro.editorial %></td>
                                <!-- Muestro las categorias por libro -->
                                <td>
                                    <% categoriasPorLibro.forEach((cat)=>{ %>
                                    <% if(cat.id==libro.id){ %>
                                    <%= cat.nombre %>
                                    <% } %>
                                    <% }); %>
                                </td>
                                <!-- -------------------------------- -->
                                <td><%= libro.precio %></td>
                                <td><%= libro.estado %></td>

                                <td>
                                    <form action="/libro/principal" method="GET">
                                        <input type="hidden" id="ideditar" name="ideditar" value="<%= libro.id %>">
                                        <button class="btn fa fa-pencil"> Editar</button>
                                    </form>
                                </td>

                                <td>
                                    <form action="/libro/estado" method="POST">
                                        <input type="hidden" name="id" value="<%= libro.id %>">
                                        <input type="hidden" name="estado" value="<%= libro.estado %>">
                                        <% if(libro.estado=="Disponible"){ %>
                                        <button class="btn fa fa-minus-circle"> Desactivar</button>
                                        <% }else{ %>
                                        <button class="btn fa fa-plus-circle"> Activar</button>
                                        <%}%>
                                    </form>
                                </td>

                            </tr>
                            <% }); %>
                                        <%}%>


                            <!-- PARA EDITAR, si existe un Libro a editar, se genera esto de aqui abajo -->
                            <% const existeLibroEditar=typeof libroEditar !== "undefined"; %>
                                        <% if(existeLibroEditar){ %>
                            <tr>
                                <form action="/libro/registrar" method="POST">

                                    <td><input id="inputsEditar" type="text" name="isbn"
                                            value="<%= libroEditar.isbn %>"></td>
                                    <td><input id="inputsEditar" type="text" name="titulo"
                                            value="<%= libroEditar.titulo %>"></td>
                                    <td><input id="inputsEditar" type="text" name="autor"
                                            value="<%= libroEditar.autor %>"></td>
                                    <td><input id="inputsEditar" type="number" name="edicion"
                                            value="<%= libroEditar.edicion %>"></td>
                                    <td><input id="inputsEditar" type="text" name="editorial"
                                            value="<%= libroEditar.editorial %>"></td>
                                    <td>
                                        <div id="inputsEditar" class="multiselect">
                                            <div class="selectBox" onclick="showCheckboxes()">
                                                <select>
                                                    <option>Escoja categorías</option>
                                                </select>
                                                <div class="overSelect"></div>
                                            </div>
                                            <div id="checkboxes">
                                                <% const existeCategoria=typeof categorias !== "undefined"; %>
                                                <% if(existeCategoria){ %>
                                                <% categorias.forEach((value)=>{ %>
                                                <label for="categoria<%=value.id%>">
                                                    <input type="checkbox" id="categoria<%=value.id%>"
                                                        name="categoria<%=value.id%>"
                                                        value="<%= value.id%>" /><%= value.nombre %></label>
                                                <% }) %>
                                                <% } %>

                                            </div>
                                        </div>
                                    </td>
                                    <td><input id="inputsEditar" type="number" step="any" name="precio"
                                            value="<%= libroEditar.precio %>">
                                    </td>
                                    <td><input id="inputsEditar" type="disabled" name="estado"
                                            value="<%= libroEditar.estado %>" disabled>
                                    </td>
                                    <td colspan="2"><button class="btn">Editar!</button></td>
                                </form>
                            </tr>
                            <% } %>
                            <!-- --------------------------------------------  -->

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>






    <!-- Model de insercion -->
    <div class="modal modal-success" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gestión de Libros</h4>
                </div>


                <form action="/libro/registrar" method="POST">
                    <div class="modal-body">

                        <label for="idisbn">ISBN:</label>
                        <input class="form-control" type="text" id="idisbn" placeholder="ISBN..." name="isbn" value="">
                        <br>
                        <label for="idtitulo">Título:</label>
                        <input class="form-control" type="text" id="idtitulo" placeholder="Título..." name="titulo"
                            value="">
                        <br>
                        <label for="idautor">Autor:</label>
                        <input class="form-control" type="text" id="idautor" placeholder="Autor..." name="autor"
                            value="">
                        <br>
                        <label for="idedicion">Edición:</label>
                        <input class="form-control" type="number" step="any" id="idedicion" placeholder="Edicion..."
                            name="edicion" value="">
                        <br>
                        <label for="ideditorial">Editorial:</label>
                        <input class="form-control" type="text" id="ideditorial" placeholder="Editorial..."
                            name="editorial" value="">
                        <br>
                        <label for="idcategoria">Categoría:</label>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select>
                                    <option>Escoja categorías</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                <% const existeCategoria=typeof categorias !== "undefined"; %>
                                <% if(existeCategoria){ %>
                                <% categorias.forEach((value)=>{ %>
                                <label for="categoria<%=value.id%>">
                                    <input type="checkbox" id="categoria<%=value.id%>"
                                        name="categoria<%=value.id%>" /><%= value.nombre %></label>
                                <% }) %>
                                <% } %>

                            </div>
                        </div>
                        <br>
                        <label for="idprecio">Precio:</label>
                        <input class="form-control" type="number" step="any" id="idprecio" placeholder="Precio..."
                            name="precio" value="">

                    </div>
                    <div class="modal-footer">
                        <button class="btn glyphicon glyphicon-check">
                            GUARDAR</button>
                        <button type="button" id="btn_close_modal" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    </div>
                </form>



            </div>

        </div>
    </div>



    <!-- para el select con checkboxes.. no borrar este script -->
    <script>
        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }</script>

</body>

</html>