<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!--revisar esto libreria de iconos fafa-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #contenidotabla {
            margin-top: 100px;
        }

        #barranavegacion {
            background-color: #046E8F;

        }

        #inputsEditar {
            max-width: 98%;
        }



        table {
            width: 100%;
            table-layout: fixed;
        }

        th {
            background-color: #046E8F;
            color: white;
        }

        #panel_head {
            background-color: #faf2f2;
        }

        button {
            background-color: #046E8F;
            color: white;
        }

        th,
        td {
            text-align: center;
        }

        #contenido_nav {
            color: white;
            font-weight: bold;
        }

        .btn {
            color: white;
        }
    </style>
</head>

<body>

    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="barranavegacion">
            <div id="contenido_nav" class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/usuario/login">LIBRERÍA</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- class="active" -->
                    <li><a class="fa fa-book" aria-hidden="true" href="/libro/principal"> LIBROS</a></li>
                    <!-- <li><a href="/api/instrumento/promocion">Promoción</a></li> -->

                </ul>
            </div>
        </nav>

    </div>

    <div class="row" id="contenidotabla">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 container">
            <div class="panel panel-default">
                <div id="panel_head" class="panel-heading text-center">
                    <button data-toggle="modal" data-target="#myModal" class="btn center-block"><i
                            class="fa fa-plus-circle"></i>
                        Agregar</button>

                </div>
                <div class="panel-body">
                    <div style="margin-left: 15px">

                        <form action="/libro/principal">
                            <div class="col-sm-1">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div class="dropdown col-sm-6">
                                <input style="margin-right: 10px" class="form-control" id="stringbuscar" type="text"
                                    placeholder="Buscar.." name="stringbuscar">
                            </div>
                            <div class="col-sm-5">

                                <div class="form-group">
                                    <!-- (change)="selectParametro($event)"" -->

                                    <select class="form-control" id="banderabuscar" name="banderabuscar">
                                        <option>Seleccione una opción</option>
                                        <option value="0">Autor</option>
                                        <option value="1">Título</option>
                                        <option value="2">Categoría</option>

                                    </select>
                                </div>
                            </div>
                        </form>




                    </div>

                    <table class="table" id="tablainstrumentos">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Edición</th>
                                <th>Editorial</th>
                                <th>Categorías</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% const existenLibros=typeof libros !== "undefined"; %>
                            <% if(existenLibros){ %>
                            <% libros.forEach((libro)=>{ %>
                            <tr>
                                <td><%= libro.isbn %></td>
                                <td><%= libro.titulo %></td>
                                <td><%= libro.autor %></td>
                                <td><%= libro.edicion %></td>
                                <td><%= libro.editorial %></td>
                                <td><%= libro.categorias %></td>
                                <td><%= libro.precio %></td>
                                <td><%= libro.estado %></td>

                                <td>
                                    <form action="/libro/principal" method="GET">
                                        <input type="hidden" id="ideditar" name="ideditar" value="<%= libro.id %>">
                                        <button>Editar</button>
                                    </form>
                                </td>

                                <td>
                                    <form action="/libro/estado" method="POST">
                                        <input type="hidden" name="id" value="<%= libro.id %>">
                                        <input type="hidden" name="estado" value="<%= libro.estado %>">
                                        <button>Desactivar</button>
                                    </form>
                                </td>

                            </tr>
                            <% }); %>
                            <%}%>


                            <!-- PARA EDITAR, si existe un Libro a editar, se genera esto de aqui abajo -->
                            <% const existeLibroEditar=typeof libroEditar !== "undefined"; %>
                            <% if(existeLibroEditar){ %>
                            <tr>
                                <form action="/libro/registrar" method="POST">

                                    <td><input id="inputsEditar" type="text" name="isbn"
                                            value="<%= libroEditar.isbn %>"></td>
                                    <td><input id="inputsEditar" type="text" name="titulo"
                                            value="<%= libroEditar.titulo %>"></td>
                                    <td><input id="inputsEditar" type="text" name="autor"
                                            value="<%= libroEditar.autor %>"></td>
                                    <td><input id="inputsEditar" type="number" name="edicion"
                                            value="<%= libroEditar.edicion %>"></td>
                                    <td><input id="inputsEditar" type="text" name="editorial"
                                            value="<%= libroEditar.editorial %>"></td>
                                    <td>
                                        <select id="inputsEditar" name="categoria" id="">
                                            <% const existeCategoria=typeof categorias !== "undefined"; %>
                                            <% if(existeCategoria){ %>
                                            <% categorias.forEach((value)=>{ %>
                                            <option value="<%=value.id%>"><%= value.nombre %></option>
                                            <% }) %>
                                            <% } %>
                                        </select>
                                    </td>
                                    <td><input id="inputsEditar" type="number" step="any" name="precio"
                                            value="<%= libroEditar.precio %>">
                                    </td>
                                    <td><input id="inputsEditar" type="disabled" name="estado"
                                            value="<%= libroEditar.estado %>" disabled>
                                    </td>
                                    <td colspan="2"><button>Editar!</button></td>
                                </form>
                            </tr>
                            <% } %>
                            <!-- --------------------------------------------  -->

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>






    <!-- Model de insercion -->
    <div class="modal modal-success" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gestión de Libros</h4>
                </div>


                <form action="/libro/registrar" method="POST">
                    <div class="modal-body">

                        <label for="idisbn">ISBN:</label>
                        <input type="text" id="idisbn" placeholder="ISBN..." name="isbn" value="">
                        <br>
                        <label for="idtitulo">Título:</label>
                        <input type="text" id="idtitulo" placeholder="Título..." name="titulo" value="">
                        <br>
                        <label for="idautor">Autor:</label>
                        <input type="text" id="idautor" placeholder="Autor..." name="autor" value="">
                        <br>
                        <label for="idedicion">Edición:</label>
                        <input type="number" step="any" id="idedicion" placeholder="Edicion..." name="edicion" value="">
                        <br>
                        <label for="ideditorial">Editorial:</label>
                        <input type="text" id="ideditorial" placeholder="Editorial..." name="editorial" value="">
                        <br>
                        <label for="idcategoria">Categoría:</label>
                        <select name="categoria" id="idcategoria">
                            <% const existeCategoria=typeof categorias !== "undefined"; %>
                            <% if(existeCategoria){ %>
                            <% categorias.forEach((value)=>{ %>
                            <option value="<%=value.id%>"><%= value.nombre %></option>
                            <% }) %>
                            <% } %>
                        </select>
                        <br>
                        <label for="idprecio">Precio:</label>
                        <input type="number" step="any" id="idprecio" placeholder="Precio..." name="precio" value="">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success glyphicon glyphicon-check">
                            GUARDAR</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>



            </div>

        </div>
    </div>




    <!-- <script>
        function myFunction() {
            // Declare variables 
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("idBusqueda");
            parametro = document.getElementById("parambuscar").value;
            filter = input.value.toUpperCase();
            table = document.getElementById("tablainstrumentos");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[Number(parametro)];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script> -->


</body>

</html>